<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>iview example</title>
    <!--<link rel="stylesheet" type="text/css" href="http://unpkg.com/iview/dist/styles/iview.css">-->
    <!--<script type="text/javascript" src="http://vuejs.org/js/vue.min.js"></script>-->
    <!--<script type="text/javascript" src="http://unpkg.com/iview/dist/iview.min.js"></script>-->
    <link rel="stylesheet" type="text/css" href="style/iview.css">
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/iview.min.js"></script>
</head>
<body>
<div id="app-icon">
    <Icon type="checkmark"></Icon>
    <Icon type="ionic"></Icon>
    <Icon type="arrow-move"></Icon>
</div>
<script>
    var vm = new Vue({
        el: '#app-icon',
    })
</script>
</body>
</html>