<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>iview example</title>
    <link rel="stylesheet" type="text/css" href="style/iview.css">
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/iview.min.js"></script>
    <!--<script type="text/javascript" src="js/vue/vuex.js"></script>-->
    <!--<script type="text/javascript" src="js/vue/vue-router.js"></script>-->
    <!--<script type="text/javascript" src="js/store/store.js"></script>-->
    <!--<script type="text/javascript" src="js/router/router.js"></script>-->
    <!--<script type="text/javascript" src="js/component/tags-page-opened/tags-page-opened.js"></script>-->
    <style scoped>
        .logo-con {
            padding: 8px;
            text-align: center;
        }
        .logo-con img {
            height: 44px;
            width: auto;
        }
        .main-header {
            height: 60px;
            background: #fff;
            box-shadow: 0 2px 1px 1px rgba(100, 100, 100, 0.1);
            position: relative;
            z-index: 11;
        }
        .main-header i{
            cursor: pointer;
        }
        .main-header-menu {
            text-align: right;
            margin-right: 15px;
            margin-top: 20px;
        }
        .main-header-rotate{
            margin: 20px 20px 0;
        }
        .header-icon {
            margin-top: 22px;
        }
        .user-dropdown-innercon{
            margin-top: 15px;
            margin-right: 15px;
        }
        .main-header-avatar {
            margin-left: 15px;
        }
        .layout-header-bar{
            background: #fff;
            box-shadow: 0 1px 1px rgba(0,0,0,.1);
        }
        .layout-logo-left{
            width: 90%;
            height: 30px;
            background: #5b6270;
            border-radius: 3px;
            margin: 15px auto;
        }
        .menu-icon{
            transition: all .3s;
        }
        .rotate-icon{
            transform: rotate(-90deg);
        }
        .menu-item span{
            display: inline-block;
            overflow: hidden;
            width: 69px;
            text-overflow: ellipsis;
            white-space: nowrap;
            vertical-align: bottom;
            transition: width .2s ease .2s;
        }
        .menu-item i{
            transform: translateX(0px);
            transition: font-size .2s ease, transform .2s ease;
            vertical-align: middle;
            font-size: 16px;
        }
        .collapsed-menu span{
            width: 0px;
            transition: width .2s ease;
        }
        .collapsed-menu i{
            transform: translateX(5px);
            transition: font-size .2s ease .2s, transform .2s ease .2s;
            vertical-align: middle;
            font-size: 22px;
        }

        .main .tags-con {
            height: 40px;
            z-index: -1;
            overflow: hidden;
            background: #f0f0f0;
        }
    </style>
</head>
<body>
<div id="app-layout" class="layout">
    <Layout :style="{minHeight: '100vh'}">
        <Sider ref="sider" hide-trigger collapsible :collapsed-width="78" v-model="isCollapsed">
            <div class="logo-con">
                <img v-show="!shrink"  src="image/logo.jpg" key="max-logo" />
                <img v-show="shrink" src="image/logo-min.jpg" key="min-logo" />
            </div>
            <i-menu active-name="1-2" theme="dark" width="auto" :class="menuitemClasses" :open-names="['1']">
                <Submenu name="1">
                    <template slot="title">
                        <Icon type="ios-navigate"></Icon>
                        <span>Item 1</span>
                    </template>
                    <menu-item name="1-1">Option 1</menu-item>
                    <menu-item name="1-2">Option 2</menu-item>
                    <menu-item name="1-3">Option 3</menu-item>
                </Submenu>
                <Submenu name="2">
                    <template slot="title">
                        <Icon type="search"></Icon>
                        <span>Item 2</span>
                    </template>
                    <menu-item name="2-1">Option 1</menu-item>
                    <menu-item name="2-2">Option 2</menu-item>
                    <menu-item name="2-3">Option 3</menu-item>
                </Submenu>
                <Submenu name="3">
                    <template slot="title">
                        <Icon type="settings"></Icon>
                        <span>Item 3</span>
                    </template>
                    <menu-item name="1-1">Option 1</menu-item>
                    <menu-item name="1-2">Option 2</menu-item>
                    <menu-item name="1-3">Option 3</menu-item>
                </Submenu>
            </i-menu>
        </Sider>
        <Layout>
            <Header class="main-header">
                <Row>
                    <i-col span="1">
                        <Icon @click.native="collapsedSider" :class="rotateIcon" class="main-header-rotate" type="navicon-round" size="24"></Icon>
                    </i-col>
                    <i-col span="4">
                        <Breadcrumb class="header-icon">
                            <breadcrumb-item>首页</breadcrumb-item>
                            <breadcrumb-item>用户管理</breadcrumb-item>
                            <breadcrumb-item>添加用户</breadcrumb-item>
                        </Breadcrumb>
                    </i-col>
                    <i-col span="3" offset="14">
                        <Row class="main-header-menu">
                            <i-col span="5" offset="9">
                                <Tooltip content="全屏" placement="bottom">
                                    <Icon type="arrow-expand" size="23"></Icon>
                                </Tooltip>
                            </i-col>
                            <i-col span="5">
                                <Tooltip content="锁屏" placement="bottom">
                                    <Icon type="locked" size="23"></Icon>
                                </Tooltip>
                            </i-col>
                            <i-col span="5">
                                <Tooltip content="你有3条未读消息" placement="bottom">
                                    <Badge dot>
                                        <Icon type="ios-bell" size="23"></Icon>
                                    </Badge>
                                </Tooltip>
                            </i-col>
                        </Row>

                    </i-col>
                    <i-col span="2">
                        <!--<div class="user-dropdown-innercon ivu-row-flex ivu-row-flex-middle ivu-row-flex-end"><div class="ivu-dropdown"><div class="ivu-dropdown-rel"><a href="javascript:void(0)"><span class="main-user-name">iview_admin</span> <i class="ivu-icon ivu-icon-arrow-down-b"></i></a> </div> &lt;!&ndash;&ndash;&gt;</div> <span class="ivu-avatar ivu-avatar-circle ivu-avatar-default ivu-avatar-image" style="background: rgb(97, 159, 231); margin-left: 10px;"><img src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3448484253,3685836170&amp;fm=27&amp;gp=0.jpg"></span></div>-->
                        <Row type="flex" justify="end" align="middle" class="user-dropdown-innercon">
                            <Dropdown transfer trigger="click" @on-click="handleClickUserDropdown">
                                <a href="javascript:void(0)">
                                    <span class="main-user-name">{{ userName }}</span>
                                    <Icon type="arrow-down-b"></Icon>
                                </a>
                                <dropdown-menu slot="list">
                                    <dropdown-item name="ownSpace">个人中心</dropdown-item>
                                    <dropdown-item name="loginout" divided>退出登录</dropdown-item>
                                </dropdown-menu>
                            </Dropdown>
                            <!--<Avatar :src="avatorPath" style="background: #619fe7;margin-left: 10px;"></Avatar>-->
                            <Avatar src="https://i.loli.net/2017/08/21/599a521472424.jpg" class="main-header-avatar" />
                        </Row>
                    </i-col>
                </Row>
                <Row>
                    <div ref="scrollCon" @DOMMouseScroll="handlescroll" @mousewheel="handlescroll" class="tags-outer-scroll-con">
                        <div class="close-all-tag-con">
                            <Dropdown transfer @on-click="handleTagsOption">
                                <Button size="small" type="primary">
                                    标签选项
                                    <Icon type="arrow-down-b"></Icon>
                                </Button>
                                <dropdown-menu slot="list">
                                    <dropdown-item name="clearAll">关闭所有</dropdown-item>
                                    <dropdown-item name="clearOthers">关闭其他</dropdown-item>
                                </dropdown-menu>
                            </Dropdown>
                        </div>
                        <div ref="scrollBody" class="tags-inner-scroll-body" :style="{left: tagBodyLeft + 'px'}">
                            <transition-group name="taglist-moving-animation">
                                <Tag type="dot" v-for="(item, index) in pageTagsList" ref="tagsPageOpened" :key="item.name" :name="item.name" @on-close="closePage" @click.native="linkTo(item)" :closable="item.name==='home_index'?false:true" :color="item.children?(item.children[0].name===currentPageName?'blue':'default'):(item.name===currentPageName?'blue':'default')">{{ itemTitle(item) }}</Tag>
                            </transition-group>
                        </div>
                    </div>


                    <!--<tags-page-opened :pageTagsList="pageTagsList"></tags-page-opened>-->
                </Row>
            </Header>
            <Content :style="{padding: '0 16px 16px'}">
                <!--<Breadcrumb :style="{margin: '16px 0'}">-->
                    <!--<breadcrumb-item>Home</breadcrumb-item>-->
                    <!--<breadcrumb-item>Components</breadcrumb-item>-->
                    <!--<breadcrumb-item>Layout</breadcrumb-item>-->
                <!--</Breadcrumb>-->
                <Card>
                    <div style="height: 600px">Content</div>
                </Card>
            </Content>
        </Layout>
    </Layout>
</div>

<script>
    var vm = new Vue({
        el: '#app-layout',
//        router: router,
//        store: store,
        data () {
            return {
                shrink: false,
                isCollapsed: false,
                pageTagsList: 'sfsdf',
                userName: '超级管理员',
                isFullScreen: false,
                currentPageName: '我是当前页',
                tagBodyLeft: 0,
                refsTag: [],
                tagsCount: 1
            };
        },
        computed: {
            rotateIcon () {
                return [
                    'menu-icon',
                    this.isCollapsed ? 'rotate-icon' : ''
                ];
            },
//            pageTagsList () {
//                return this.$store.state.app.pageOpenedList; // 打开的页面的页面对象
//            },
            menuitemClasses: function () {
                return [
                    'menu-item',
                    this.isCollapsed ? 'collapsed-menu' : ''
                ]
            }
        },
        methods: {
            collapsedSider () {
                this.$refs.sider.toggleCollapse();
            },
            itemTitle (item) {
                if (typeof item.title === 'object') {
                    return this.$t(item.title.i18n);
                } else {
                    return item.title;
                }
            },
            linkTo (item) {
                let routerObj = {};
                routerObj.name = item.name;
                if (item.argu) {
                    routerObj.params = item.argu;
                }
                if (item.query) {
                    routerObj.query = item.query;
                }
                if (this.beforePush(item)) {
                    this.$router.push(routerObj);
                }
            },
            closePage (event, name) {
                let pageOpenedList = this.$store.state.app.pageOpenedList;
                let lastPageObj = pageOpenedList[0];
                if (this.currentPageName === name) {
                    let len = pageOpenedList.length;
                    for (let i = 1; i < len; i++) {
                        if (pageOpenedList[i].name === name) {
                            if (i < (len - 1)) {
                                lastPageObj = pageOpenedList[i + 1];
                            } else {
                                lastPageObj = pageOpenedList[i - 1];
                            }
                            break;
                        }
                    }
                } else {
                    let tagWidth = event.target.parentNode.offsetWidth;
                    this.tagBodyLeft = Math.min(this.tagBodyLeft + tagWidth, 0);
                }
                this.$store.commit('removeTag', name);
                this.$store.commit('closePage', name);
                pageOpenedList = this.$store.state.app.pageOpenedList;
                localStorage.pageOpenedList = JSON.stringify(pageOpenedList);
                if (this.currentPageName === name) {
                    this.linkTo(lastPageObj);
                }
            },
            handlescroll (e) {
                var type = e.type;
                let delta = 0;
                if (type === 'DOMMouseScroll' || type === 'mousewheel') {
                    delta = (e.wheelDelta) ? e.wheelDelta : -(e.detail || 0) * 40;
                }
                let left = 0;
                if (delta > 0) {
                    left = Math.min(0, this.tagBodyLeft + delta);
                } else {
                    if (this.$refs.scrollCon.offsetWidth - 100 < this.$refs.scrollBody.offsetWidth) {
                        if (this.tagBodyLeft < -(this.$refs.scrollBody.offsetWidth - this.$refs.scrollCon.offsetWidth + 100)) {
                            left = this.tagBodyLeft;
                        } else {
                            left = Math.max(this.tagBodyLeft + delta, this.$refs.scrollCon.offsetWidth - this.$refs.scrollBody.offsetWidth - 100);
                        }
                    } else {
                        this.tagBodyLeft = 0;
                    }
                }
                this.tagBodyLeft = left;
            },
            handleTagsOption (type) {
                if (type === 'clearAll') {
                    this.$store.commit('clearAllTags');
                    this.$router.push({
                        name: 'home_index'
                    });
                } else {
                    this.$store.commit('clearOtherTags', this);
                }
                this.tagBodyLeft = 0;
            },
            handleClickUserDropdown (name) {
                if (name === 'ownSpace') {
                    util.openNewPage(this, 'ownspace_index');
                    this.$router.push({
                        name: 'ownspace_index'
                    });
                } else if (name === 'loginout') {
                    // 退出登录
                    this.$store.commit('logout', this);
                    this.$store.commit('clearOpenedSubmenu');
                    this.$router.push({
                        name: 'login'
                    });
                }
            },
            moveToView (tag) {
                if (tag.offsetLeft < -this.tagBodyLeft) {
                    // 标签在可视区域左侧
                    this.tagBodyLeft = -tag.offsetLeft + 10;
                } else if (tag.offsetLeft + 10 > -this.tagBodyLeft && tag.offsetLeft + tag.offsetWidth < -this.tagBodyLeft + this.$refs.scrollCon.offsetWidth - 100) {
                    // 标签在可视区域
                    this.tagBodyLeft = Math.min(0, this.$refs.scrollCon.offsetWidth - 100 - tag.offsetWidth - tag.offsetLeft - 20);
                } else {
                    // 标签在可视区域右侧
                    this.tagBodyLeft = -(tag.offsetLeft - (this.$refs.scrollCon.offsetWidth - 100 - tag.offsetWidth) + 20);
                }
            }
        }
    })
</script>
</body>
</html>